In [2]:
import pandas as pd

In [8]:
input_data = pd.read_csv('input/data.csv')

/tmp/ipykernel_50/901288859.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  input_data = pd.read_csv('input/data.csv')

In [9]:
input_data

,Unnamed: 0,userid,username,acctdesc,location,following,followers,totaltweets,usercreatedts,tweetid,tweetcreatedts,retweetcount,text,hashtags,language,coordinates,favorite_count,extractedts
0,5428025,1421921881528016896,PFComCon,"Timely, concise, and comprehensive source of i...","Honolulu, Hawaii",96,53,706,2021-08-01 19:53:49.000000,1502434194462412804,2022-03-12 00:00:00,1,https://t.co/6vzbiMRRbP\n\nChina's online comm...,"[{'text': 'ComparativeConnections', 'indices':...",en,NaN,1,2022-03-12 00:26:57.906966
1,5428026,1473249066,EandPCartoons,Editorial & Political Cartoons,U.S.,270,3336,38196,2013-05-31 22:53:04.000000,1502434194575659008,2022-03-12 00:00:00,1,"Drew Sheneman, The Star-Ledger #Putin #Russia ...","[{'text': 'Putin', 'indices': [31, 37]}, {'tex...",en,NaN,2,2022-03-12 00:26:57.899206
2,5428027,1068621782,BklynContractor,üáµüá∑\nI'm here for the comments.\nDon't buy a st...,New York,831,512,12902,2013-01-07 15:51:30.000000,1502434196710637568,2022-03-12 00:00:01,0,"Wtf, was #Putin in the Naked Gun? ü§£ü§£ü§£ who is ...","[{'text': 'Putin', 'indices': [9, 15]}]",en,NaN,0,2022-03-12 00:26:57.891329
3,5428028,1268920135,deportesfitPAN,"Notas sobre el mundo del deporte, el fitness y...",NaN,59,105,10757,2013-03-15 05:54:10.000000,1502434197562138639,2022-03-12 00:00:01,0,"Boxeador Oleksandr Usyk no quiere disparar, pe...","[{'text': 'deportesfitness', 'indices': [117, ...",es,NaN,0,2022-03-12 00:26:57.881470
4,5428029,1210952890598096897,LuciusNatter,"Autor ist das Leben, ich schreib nur mit.",Zurich,108,108,6162,2019-12-28 15:58:08.000000,1502434201689329665,2022-03-12 00:00:02,3,"Hat schon mal jemand gesagt, das #Putin ein Ar...","[{'text': 'Putin', 'indices': [53, 59]}]",de,NaN,0,2022-03-12 00:26:57.873579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397940,5825965,416583838,melinacugliari,"Del 66,sposata,Calabrese, tre figli bellissimi...",Alessandria; Piemonte,4918,4606,276513,2011-11-19 22:02:20.000000,1502796579329171456,2022-03-12 23:59:59,189,Il compiacimento nel vedere i bambini coinvolt...,"[{'text': 'Russia', 'indices': [128, 135]}]",it,NaN,0,2022-03-13 00:01:13.685473
397941,5825966,1175363608198430720,CrewPup96,Sposed to be a parody acct. Its my speak from ...,NaN,367,114,2435,2019-09-21 10:58:42.000000,1502796579362775043,2022-03-12 23:59:59,1,"The #Crew96 won, #VamosColumbus!!!\nAnd #Putin...","[{'text': 'Crew96', 'indices': [4, 11]}, {'tex...",en,NaN,0,2022-03-13 00:01:13.641502
397942,5825967,2623540653,Breaking_4_News,Committed To Bringing You Fast And Accurate Br...,United States,103,6979,11504,2014-06-19 17:50:46.000000,1502796579513806858,2022-03-12 23:59:59,0,#BREAKING: Iran Launches Ballistic Missiles At...,"[{'text': 'BREAKING', 'indices': [0, 9]}, {'te...",en,NaN,1,2022-03-13 00:01:13.601443
397943,5825968,1443579763453349897,Bipolarunipolar,ÊîøÊ≤ªÁöÑ„Çπ„Çø„É≥„Çπ„ÅØÁΩÆ„ÅÑ„Å®„ÅÑ„Å¶„ÄÅÂá∫Êù•„Çã„Å†„ÅëÊó©„ÅÑÊà¶‰∫â„ÅÆÁµÇÁµê„ÇíÁ•à„Çä„Åæ„Åô„ÄÇ\n\ni wish the...,kyoto,323,108,614,2021-09-30 14:13:41.000000,1502796580143136768,2022-03-12 23:59:59,714,#BREAKING \nThe moment of missile attack on US...,"[{'text': 'BREAKING', 'indices': [17, 26]}, {'...",en,NaN,0,2022-03-13 00:01:13.561375
397944,5825969,1494227064408346634,Deramba1,·âµ·åç·à´·ã≠ ·ä•·ã´ ·ãì·àà·àò·ã≠!!\n#StopTigrayGenocide,NaN,272,278,4616,2022-02-17 08:29:07.000000,1502796580163837955,2022-03-12 23:59:59,223,On this #IWD2022 the world must condemn the at...,"[{'text': 'IWD2022', 'indices': [25, 33]}, {'t...",en,NaN,0,2022-03-13 00:01:13.517405